.main-layout {
  display: flex;
  height: 100vh; /* Sayfa yüksekliği sabit */
  overflow: hidden; /* Sayfanın scroll olmasını engelle */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* içeride scroll kontrolü için */
}

.page-content {
  padding: 1.5rem;
  overflow-y: auto; /* içerik taşarsa scroll burada */
  flex: 1;
  
}
